<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="2D WORLD Engine"
        android:icon="@drawable/world_icon"
        android:theme="@style/WorldTheme"
        android:usesCleartextTraffic="false"
        android:resizeableActivity="true">
        <activity
            android:name=".editor.MainActivity"
            android:screenOrientation="unspecified"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
